In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [9]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.30,random_state=0)

In [10]:
x_train

      age     bmi  children  sex_male  smoker_yes
1163   18  28.215         0         0           0
196    39  32.800         0         0           0
438    52  46.750         5         0           0
183    44  26.410         0         0           0
1298   33  27.455         2         1           0
...   ...     ...       ...       ...         ...
763    27  26.030         0         1           0
835    42  35.970         2         1           0
1216   40  25.080         0         1           0
559    19  35.530         0         1           0
684    33  18.500         1         0           0

[936 rows x 5 columns]

In [11]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
x_train=sc.fit_transform(x_train)
x_test=sc.transform(x_test)

In [12]:
x_train

array([[-1.5330973 , -0.40713453, -0.89833872, -0.97676557, -0.50466988],
       [-0.03364163,  0.32855417, -0.89833872, -0.97676557, -0.50466988],
       [ 0.89459283,  2.56690911,  3.25603402, -0.97676557, -0.50466988],
       ...,
       [ 0.03776102, -0.91016269, -0.89833872,  1.02378711, -0.50466988],
       [-1.46169465,  0.76659782, -0.89833872,  1.02378711, -0.50466988],
       [-0.46205754, -1.96596021, -0.06746417, -0.97676557, -0.50466988]])

In [13]:
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeRegressor
param_grid={'criterion':['mse','mae','friedman_mse'],'max_features': ['auto','sqrt','log2'],'splitter':['best','random']}
grid=GridSearchCV(DecisionTreeRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(x_train,y_train)

Fitting 5 folds for each of 18 candidates, totalling 90 fits

C:\anaconda\lib\site-packages\sklearn\tree\_classes.py:363: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=DecisionTreeRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae', 'friedman_mse'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'splitter': ['best', 'random']},
             verbose=3)

In [14]:
re=grid.cv_results_
print("The R_Score valueofr best parameters{}:".format(grid.best_params_))

The R_Score valueofr best parameters{'criterion': 'mse', 'max_features': 'auto', 'splitter': 'best'}:

In [15]:
table = pd.DataFrame.from_dict(re)

In [16]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_splitter,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.009640,0.005784,0.006620,0.008129,mse,auto,best,"{'criterion': 'mse', 'max_features': 'auto', '...",0.735022,0.567018,0.778851,0.627289,0.667898,0.675216,0.075332,1
1,0.011179,0.006489,0.002904,0.003566,mse,auto,random,"{'criterion': 'mse', 'max_features': 'auto', '...",0.691278,0.687509,0.623507,0.567741,0.657377,0.645483,0.045895,5
2,0.009374,0.007654,0.006249,0.007654,mse,sqrt,best,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.701990,0.676768,0.570269,0.631835,0.563342,0.628841,0.055457,7
3,0.012504,0.006252,0.006251,0.007656,mse,sqrt,random,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.688820,0.599168,0.543376,0.546469,0.639402,0.603447,0.055596,11
4,0.006790,0.008316,0.004657,0.006235,mse,log2,best,"{'criterion': 'mse', 'max_features': 'log2', '...",0.577755,0.586430,0.662952,0.634129,0.521350,0.596523,0.048851,13
5,0.007267,0.005536,0.004840,0.003206,mse,log2,random,"{'criterion': 'mse', 'max_features': 'log2', '...",0.404506,0.613220,0.497295,0.483243,0.605837,0.520820,0.079070,18
6,0.025423,0.007185,0.006247,0.007651,mae,auto,best,"{'criterion': 'mae', 'max_features': 'auto', '...",0.746980,0.605375,0.593994,0.520183,0.650931,0.623493,0.074664,9
7,0.022839,0.006220,0.006128,0.007174,mae,auto,random,"{'criterion': 'mae', 'max_features': 'auto', '...",0.722645,0.617715,0.654644,0.682065,0.670233,0.669460,0.034308,2
8,0.021731,0.007820,0.002208,0.002704,mae,sqrt,best,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.800661,0.695122,0.526517,0.595783,0.514499,0.626516,0.108190,8
9,0.010996,0.006118,0.004435,0.005901,mae,sqrt,random,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.675541,0.616297,0.509966,0.578099,0.606287,0.597238,0.053961,12
10,0.019723,0.003004,0.003805,0.004660,mae,log2,best,"{'criterion': 'mae', 'max_features': 'log2', '...",0.681158,0.570552,0.562886,0.675313,0.659811,0.629944,0.052149,6
11,0.010819,0.002612,0.002666,0.005333,mae,log2,random,"{'criterion': 'mae', 'max_features': 'log2', '...",0.665929,0.604275,0.544268,0.602879,0.542166,0.591903,0.045818,14
12,0.007738,0.006632,0.006338,0.006845,friedman_mse,auto,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.732591,0.540796,0.778194,0.595894,0.667728,0.663041,0.086686,3
13,0.003218,0.005271,0.000503,0.001007,friedman_mse,auto,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.709548,0.663546,0.719605,0.611024,0.575414,0.655827,0.055654,4
14,0.003219,0.005270,0.005935,0.006308,friedman_mse,sqrt,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.629221,0.569849,0.722205,0.561101,0.583622,0.613200,0.059342,10
15,0.006438,0.006964,0.001753,0.003506,friedman_mse,sqrt,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.719065,0.447893,0.541768,0.361102,0.636351,0.541236,0.127931,16
16,0.004916,0.003491,0.002652,0.003218,friedman_mse,log2,best,"{'criterion': 'friedman_mse', 'max_features': ...",0.730886,0.573679,0.318898,0.624409,0.503738,0.550322,0.137379,15
17,0.005876,0.003783,0.001410,0.001906,friedman_mse,log2,random,"{'criterion': 'friedman_mse', 'max_features': ...",0.363201,0.590025,0.541434,0.503596,0.627991,0.525249,0.091370,17

In [17]:
best_r2 = grid.best_score_

In [18]:
best_r2

0.6752155884979365

In [19]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input_input=float(input("sex male 0 or 1:"))
smoker_yes_input=float(input("smoker yes 0 or 1:"))

Age:4
BMI:23
children:0
sex male 0 or 1:0
smoker yes 0 or 1:0

In [20]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[16085.1275]

In [21]:
import pickle
filename="finalized_model_Grid.sav"
pickle.dump(grid,open(filename,'wb'))

In [24]:
loaded_model=pickle.load(open("finalized_model_Grid.sav",'rb'))
result=loaded_model.predict([[4,23,0,0,0]])

In [25]:
 result

array([16085.1275])