In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("insurance_pre.csv")

In [3]:
dataset

      age     sex     bmi  children smoker      charges
0      19  female  27.900         0    yes  16884.92400
1      18    male  33.770         1     no   1725.55230
2      28    male  33.000         3     no   4449.46200
3      33    male  22.705         0     no  21984.47061
4      32    male  28.880         0     no   3866.85520
...   ...     ...     ...       ...    ...          ...
1333   50    male  30.970         3     no  10600.54830
1334   18  female  31.920         0     no   2205.98080
1335   18  female  36.850         0     no   1629.83350
1336   21  female  25.800         0     no   2007.94500
1337   61  female  29.070         0    yes  29141.36030

[1338 rows x 6 columns]

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True)

In [5]:
dataset

      age     bmi  children      charges  sex_male  smoker_yes
0      19  27.900         0  16884.92400         0           1
1      18  33.770         1   1725.55230         1           0
2      28  33.000         3   4449.46200         1           0
3      33  22.705         0  21984.47061         1           0
4      32  28.880         0   3866.85520         1           0
...   ...     ...       ...          ...       ...         ...
1333   50  30.970         3  10600.54830         1           0
1334   18  31.920         0   2205.98080         0           0
1335   18  36.850         0   1629.83350         0           0
1336   21  25.800         0   2007.94500         0           0
1337   61  29.070         0  29141.36030         0           1

[1338 rows x 6 columns]

In [6]:
dataset.columns

Index(['age', 'bmi', 'children', 'charges', 'sex_male', 'smoker_yes'], dtype='object')

In [7]:
independent=dataset[['age', 'bmi', 'children','sex_male', 'smoker_yes']]

In [8]:
dependent=dataset[["charges"]]

In [11]:
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestRegressor
param_grid={'criterion':['mse','mae'],'max_features': ['auto','sqrt','log2'],'n_estimators':[10,100]}
grid=GridSearchCV(RandomForestRegressor(),param_grid,refit=True,verbose=3,n_jobs=-1)
grid.fit(independent,dependent)

Fitting 5 folds for each of 12 candidates, totalling 60 fits

C:\anaconda\lib\site-packages\sklearn\model_selection\_search.py:926: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  self.best_estimator_.fit(X, y, **fit_params)
C:\anaconda\lib\site-packages\sklearn\ensemble\_forest.py:400: FutureWarning: Criterion 'mse' was deprecated in v1.0 and will be removed in version 1.2. Use `criterion='squared_error'` which is equivalent.
  FutureWarning,

GridSearchCV(estimator=RandomForestRegressor(), n_jobs=-1,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': [10, 100]},
             verbose=3)

In [12]:
re=grid.cv_results_
print("The R_Score valueofr best parameters{}:".format(grid.best_params_))

The R_Score valueofr best parameters{'criterion': 'mse', 'max_features': 'sqrt', 'n_estimators': 100}:

In [13]:
table = pd.DataFrame.from_dict(re)

In [14]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_criterion,param_max_features,param_n_estimators,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.059467,6.067516e-03,0.009376,0.007655,mse,auto,10,"{'criterion': 'mse', 'max_features': 'auto', '...",0.843387,0.772339,0.820110,0.809145,0.830885,0.815173,0.024242,10
1,0.362590,1.529131e-02,0.021876,0.007653,mse,auto,100,"{'criterion': 'mse', 'max_features': 'auto', '...",0.847291,0.772539,0.854021,0.820731,0.836109,0.826138,0.029074,5
2,0.050098,1.529663e-02,0.009374,0.007653,mse,sqrt,10,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.831952,0.766309,0.825676,0.821578,0.810896,0.811282,0.023508,11
3,0.253123,1.169177e-02,0.021876,0.007656,mse,sqrt,100,"{'criterion': 'mse', 'max_features': 'sqrt', '...",0.859917,0.779033,0.859677,0.830546,0.841070,0.834049,0.029713,1
4,0.031250,5.519789e-07,0.000000,0.000000,mse,log2,10,"{'criterion': 'mse', 'max_features': 'log2', '...",0.832275,0.773025,0.845736,0.811800,0.820396,0.816646,0.024621,9
5,0.247282,1.168998e-02,0.021886,0.007651,mse,log2,100,"{'criterion': 'mse', 'max_features': 'log2', '...",0.860052,0.780032,0.859724,0.829382,0.840764,0.833991,0.029394,2
6,0.256666,2.119373e-02,0.003126,0.006251,mae,auto,10,"{'criterion': 'mae', 'max_features': 'auto', '...",0.828977,0.759436,0.824091,0.821611,0.820326,0.810888,0.025896,12
7,2.260902,1.584245e-02,0.016081,0.001300,mae,auto,100,"{'criterion': 'mae', 'max_features': 'auto', '...",0.841485,0.763872,0.852542,0.824287,0.834895,0.823416,0.031154,6
8,0.146875,1.250033e-02,0.006250,0.007654,mae,sqrt,10,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.848106,0.763611,0.846447,0.818198,0.832502,0.821773,0.031026,7
9,1.362870,4.068669e-02,0.020692,0.003465,mae,sqrt,100,"{'criterion': 'mae', 'max_features': 'sqrt', '...",0.854597,0.779368,0.855984,0.829085,0.843238,0.832454,0.028248,3
10,0.149999,7.653643e-03,0.009375,0.007655,mae,log2,10,"{'criterion': 'mae', 'max_features': 'log2', '...",0.840671,0.768662,0.837424,0.814865,0.838064,0.819937,0.027273,8
11,1.246418,8.071007e-02,0.012727,0.006415,mae,log2,100,"{'criterion': 'mae', 'max_features': 'log2', '...",0.856414,0.778932,0.851315,0.826235,0.843171,0.831213,0.028072,4

In [15]:
best_r2 = grid.best_score_

In [16]:
best_r2

0.8340485372904937

In [17]:
age_input=float(input("Age:"))
bmi_input=float(input("BMI:"))
children_input=float(input("children:"))
sex_male_input_input=float(input("sex male 0 or 1:"))
smoker_yes_input=float(input("smoker yes 0 or 1:"))

Age:21
BMI:34
children:2
sex male 0 or 1:0
smoker yes 0 or 1:0

In [18]:
Future_Prediction=grid.predict([[age_input,bmi_input,children_input,sex_male_input_input,smoker_yes_input]])
print("Future_Prediction{}".format(Future_Prediction))

Future_Prediction[6881.2954383]

C:\anaconda\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [19]:
import pickle
filename="finalized_model_Grid.sav"
pickle.dump(grid,open(filename,'wb'))

In [21]:
loaded_model=pickle.load(open("finalized_model_Grid.sav",'rb'))
result=loaded_model.predict([[21,34,2,0,0]])

C:\anaconda\lib\site-packages\sklearn\base.py:451: UserWarning: X does not have valid feature names, but RandomForestRegressor was fitted with feature names
  "X does not have valid feature names, but"

In [22]:
 result

array([6881.2954383])